.background-container {
  position: absolute;
  top: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: white;
}

.blur-circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  height: 500px;
  width: 500px;
  transform: translateX(-30%) translateY(20%);
  border-radius: 50%;
  background-color: rgba(173, 109, 244, 0.5);
  opacity: 0.5;
  filter: blur(80px);
}
